{# src/Carnaval/WebsiteBundle/Resources/views/Website/index.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}
  Calendrier - {{ parent() }}
{% endblock %}
 
{% block carnaval_contenu %}
    <h2 class="text-center">Evénements à venir</h2>
    {% for key,value in events %}
        Au mois de {{ key }} {{ value|length }}
        {% for event in value %}
            <span style="text-transform:uppercase; font-weight:bold">{{ event.lieu }}</span> - Le {{ event.eventDate|date('d/m/Y') }}<span></span>
            <p>{{ event.name }} :<br />{{ event.description }}</p>
            <hr />
        {% endfor %}
        <br/>
    {% endfor %}
{% endblock %}